/* Error: expected ";".
 *    ,
 * 71 |     @include triple-border(grey)
 *    |                                 ^
 *    '
 *   src\scss\_menu.scss 71:33  @import
 *   src\scss\style.scss 6:9    root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ";".\a    \2577 \a 71 \2502      @include triple-border(grey)\d\a    \2502                                  ^\a    \2575 \a   src\\scss\\_menu.scss 71:33  @import\a   src\\scss\\style.scss 6:9    root stylesheet';
}
