$colorRed: #fc0002;
$colorOrange: #f88d04;
$colorGreen: #28ba65;
$colorBlue: #0071b0;
$colorPurple: #824bd0;

@mixin inter ($size, $weight, $style: normal, $color: black) {
    font-family: 'Inter', sans-serif;
    font-size: $size;
    font-weight: $weight;
    font-style: $style;
    color: $color;
};