@import '_variables';
@import '_header';
@import '_specials';
@import '_filter';
@import '_menuCard';
@import '_menu';
@import '_mobile';
@import '_footer';
@import '_discount';


// GENERAL STYLING
* {
    margin: 0;
    padding: 0;
}

body {
  background-color: $warm-bg;
}

h1 { @include inter(28px, 800) }
h2 { @include inter(16px, 800) }
h3 { @include inter(12px, 400) }
p  { @include inter(10px, 400) }